<div class="game-header">
    <div class="header">
        <p id="greet">Greetings, <span id="greetings-span">{{spriteName}}</span></p>
    </div>

    <div class="header">
        <p id="timer">Clientside Timer: <span id="timer-span"></span></p>
    </div>
</div>