<div id="my-side-nav" class="side-nav">
    <a id="close-me" href="javascript:void(0)" class="close-btn">&times;</a>
    <a href="/" target="_blank">Play Game</a>
    <a href="/levels/block-builder/ids" target="_blank">Create Levels</a>
    <a href="/levels" target="_blank">Display Data</a>

    {{!-- <div class="control-panel" id="game-area"> --}}
        <div class="panel-card">
            <div class="panel-body">
    
                <h1>let's create a cool, new level</h1>
                <form id="post-blocks" name="post-blocks-form" autocomplete="on" method="POST" action="/">
    
                    <div>
                        <label for="coolName">name your level</label>
                        <input type="text" id="coolName" name="coolName" value="insert cool name here"><br><br>
                    </div>
    
                    <div class="button-array">
                        <input type="button" value="make-level" id="make-level">
                        {{!-- <input type="button" value="make-level" id="make-level" onclick="createlevel()"> --}}
                        <input type="button" value="save-level" id="save-level">
                        {{!-- <input type="button" value="save-level" id="save-level" onclick="savelevel()"> --}}
                        <input type="button" value="get-new-elems" id="get-new-elems">
                        {{!-- <input type="button" value="get-new-elems" id="get-new-elems" onclick="getnewelems()">
                        --}}
                        <!-- <input type="number" name="time-stamp-id" id="time-stamp-id"> -->
                    </div>
    
    
    
                    <!-- <input type="button" value="load-level" id="load-level" onclick="loadmylevel()"> -->
    
                    <h3 class="palette-label">select a color block below to begin</h3>
                    <hr>
                    <div class="palette-bar">
                        <div>
                            <div class="palette" id="dark-gray-brush"></div>
                            <div class="palette" id="purple-brush"></div>
                            <div class="palette" id="red-brush"></div>
                            <div class="palette" id="blue-brush"></div>
                        </div>
                        <div>
                            <div class="palette" id="green-brush"></div>
                            <div class="palette" id="brown-brush"></div>
                            <div class="palette" id="light-blue-brush"></div>
                            <div class="palette" id="black-brush"></div>
                        </div>
                    </div>
    
                    <div>
    
                        <label for="time-stamp-id">load a saved level</label>
                        <select id="time-stamp-id" for="time-stamp-id" name="time-stamp-id">
                            {{!-- <select id="time-stamp-id" onchange="loadmylevel(this);"> --}}
                                <option>please select image history</option>
                                {{#each idArray}}
                                <option id="{{this}}" value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                    </div>
    
                    {{!-- <form id="post-blocks" name="post-blocks-form" autocomplete="on" method="POST"
                        action="/block-head"> --}}
                        <label for="playYourLevels">Play Your Levels</label>
                        <button id="play-your-levels-btn" name="play-Your-Levels" class="btn" type="submit"
                            value="submit">Play Now!</button>
                        <br><br>
                        <span name="test-obj"></span>
                    </form>
    
            </div>
        </div>
    {{!-- </div> --}}
</div>

<span id="open-me" style="font-size:30px;cursor:pointer" >&#9776; open</span>

