<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Squatch</title>
    {{!-- <link rel="stylesheet" href="style.css"> --}}
    <link rel="stylesheet" href="style.css">
</head>

<body>
    
    {{{ body }}}

    {{!-- Game Logic --}}
    <script src="./main.js"></script>
    
    {{!-- Block-Builder Logic --}}
    {{!-- <script src="./logic/builder/block-logic.js"></script> --}}
</body>

</html>