<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">

    <title>Pocket Squatch</title>
        <link rel="stylesheet" type="text/css" href="/style.css" media="screen and (orientation: landscape)">
        <link rel="stylesheet" type="text/css" href="/style-portrait.css" media="screen and (orientation: portrait)">

    {{!-- <link rel="stylesheet" href="/style.css"> --}}
</head>

<body>
    
    {{{ body }}}

    {{!-- Game Logic --}}
    <script src="/main.js"></script>
    
    {{!-- Block-Builder Logic --}}
    {{!-- <script src="./logic/builder/block-logic.js"></script> --}}
</body>

</html>