<div id="game-screen">

    <div class="control-panel" id="game-area">
        <div class="panel-card">
            <div class="panel-body">


                <h1>let's create a cool, new level</h1>

                <form action="/" method="post" target="_blank">
                    <label for="coolname">name your level</label>
                    <input type="text" id="coolname" name="coolname" value="insert cool name here"><br><br>

                    {{!-- todo: --}}
                    {{!-- <input type="submit" value="submit"> --}}
                </form>

                <div class="button-array">
                    <input type="button" value="make-level" id="make-level">
                    {{!-- <input type="button" value="make-level" id="make-level" onclick="createlevel()"> --}}
                    <input type="button" value="save-level" id="save-level">
                    {{!-- <input type="button" value="save-level" id="save-level" onclick="savelevel()"> --}}
                    <input type="button" value="get-new-elems" id="get-new-elems">
                    {{!-- <input type="button" value="get-new-elems" id="get-new-elems" onclick="getnewelems()">
                    --}}
                    <!-- <input type="number" name="time-stamp-id" id="time-stamp-id"> -->
                </div>



                <!-- <input type="button" value="load-level" id="load-level" onclick="loadmylevel()"> -->

                <h3 class="palette-label">select a color block below to begin</h3>
                <hr>
                <div class="palette-bar">
                    <div>
                        <div class="palette" id="dark-gray-brush"></div>
                        <div class="palette" id="purple-brush"></div>
                        <div class="palette" id="red-brush"></div>
                        <div class="palette" id="blue-brush"></div>
                    </div>
                    <div>
                        <div class="palette" id="green-brush"></div>
                        <div class="palette" id="brown-brush"></div>
                        <div class="palette" id="light-blue-brush"></div>
                        <div class="palette" id="black-brush"></div>
                    </div>
                </div>

                <div>
                    <label for="time-stamp-id">load a saved level</label>
                    <select id="time-stamp-id" onchange="loadmylevel(this);">
                        <option>please select image history</option>
                        <!-- <option value="002">002</option> -->
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div id="game-field">
        <!-- append dynamic grid -->
    </div>

</div>