<div id="game-screen">

    {{> side-nav }}


    <div id="game-area">

        {{> game-header }}

        {{!-- <div class="game-screen-square"> --}}
            <div class="title-box">
                {{!-- <div class="badge-icon">
                    <div class="avatar"></div>
                    <img src="/images/lyric-sprite-up.png" alt="Avatar" class="avatar">
                </div> --}}
                <div class="game-title">Pocket</div>
                <img src="/images/lyric-sprite-up.png" alt="Avatar" class="avatar">
                <div class="game-title">Squatch</div>
                {{!-- <h1> Pocket Squatch</h1> --}}
            </div>

            {{!-- <div class="header">
                <p id="greet">Greetings, <span id="greetings-span"></span></p>
            </div> --}}

            {{!-- <div class="header">
                <p id="timer">Clientside Timer: <span id="timer-span"></span></p>
            </div> --}}

            <div id="subhead">
                <h3>roomID: <span id="roomID-span">{{roomID}}</span></h3>
                <h3>SpaceID: <span id="SpaceID-span">{{SpaceID}}</span></h3>
                <h3>SpaceIndex: <span id="SpaceIndex-span">{{SpaceIndex}}</span></h3>
                <h3>gamespace: <span id="gamspace-span">{{gamespace}}</span></h3>
            </div>

            {{!-- ============================================== --}}

            <div class="bg-modal">
                <div class="modal-content">
                    <div class="divided-form">
                        <div class="left-side-form">
                            <div>
                                <label style="color:blanchedalmond" for="createSprite">Choose a name for your
                                    Hero:</label><br>
                                <input type="text" name="createSprite" id="create-sprite"
                                    placeholder="Hero Name Here..." required><br>
                                <button id="enter-game-btn">enter game</button><br>
                            </div>

                        </div>
                        <div class="right-side-form">
                            <form id="myForm" name="myForm" autocomplete="on" method="POST" action="/enter-level">
                                <div>
                                    <label style="color:blanchedalmond" for="createSprite">Choose Level</label><br>
                                    <button id="enter-level-btn" class="btn" id="register-btn" type="submit">enter
                                        level</button><br>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {{!-- <div>
                <div>
                    <label style="color:blanchedalmond" for="createSprite">Choose a name for your Hero:</label><br>
                    <input type="text" name="createSprite" id="create-sprite" placeholder="Hero Name Here..."
                        required><br>
                    <button id="enter-game-btn">enter game</button><br>
                </div><br>

                <form id="myForm" name="myForm" autocomplete="on" method="POST" action="/enter-level">
                    <div>
                        <label style="color:blanchedalmond" for="createSprite">Choose Level</label><br>
                        <button id="enter-level-btn" class="btn" id="register-btn" type="submit">enter
                            level</button><br>
                    </div>
                </form>
            </div> --}}

            {{!--
        </div> --}}
    </div>

    <div id="game-field">
        <!-- append dynamic grid -->
    </div>

</div>