<div id="game-screen">
    <div class="title-box">
        <h1>Pocket Squatch</h1>
    </div>
    <div id="subhead">
        <h2>Greetings <span>{{spriteName}}</span></h2>
        <h3>roomID: <span>{{roomID}}</span></h3>
    </div>
    <div class="result">Clientside Timer: <span id="timer-span"></span></div>


    <div class="transform-holder move-stand" id="sprite-holder">
        <div class="hit-box">
            <div id="hit-box-lyric">
                <div class="hit-box"></div>
            </div>
        </div>
    </div>

    <div class="obstacle" id="step-01"></div>
    <div class="obstacle" id="wall-01"></div>
    <div class="enemy" id="enemy-01"></div>
    <div class="enemy" id="enemy-02"></div>
    <div class="ground" id="ground-01"></div>

    <button id="enter-game-btn">enter game</button>
    <button id="enter-level-btn">enter level</button>
    <button id="enemy-btn">enemy</button>
    <button id="enemy-jump-btn">enemy jump</button>

</div>